* {
  box-sizing: border-box;
}

html{
  max-width: 1280px;
  max-height: 800px;
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
  animation-name: fading;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img{
  max-width: 100%;
}
