.display{
  height: 800px;
  width: 1280px;
  overflow: hidden;
  position: relative;

  &--relative{
    display: relative;
  }

  &--bg-1{
    background: url("../../assets/images/screen_1.jpg") no-repeat center center;
    background-size: cover;
  }

  &--bg-2{
    background: url("../../assets/images/screen_2.jpg") no-repeat center center;
    background-size: cover;
  }

  &--bg-3{
    height: 800px;
    width: 1280px;
    overflow: hidden;
    position: relative;

    background: url("../../assets/images/menu_bg.jpg") no-repeat center center;
    background-size: cover;
  }

  &__btn{
    position: absolute;
    top: 630px;
    left: 467px;
  }
}
