.menu-item{
  position: absolute;
  width: 100%;
  top: 25px;
  /* top: 50%; */
  /* transform: translateY(-50%); */

  @mixin atLarge{
    top: 125px;
  }

  &__image{
    border-radius: 20px;
    overflow: hidden;
  }

  &__item{
    margin-bottom: 25px;
  }

  &__btn{
    font-size: 1rem;
    position: fixed;
    right: 15px;
    bottom: 5px;
    margin: 0;

    @mixin atLarge{
      bottom: 15px;
    }
  }
}
