.products{

  &__image{
    position: relative;
  }

  &__item-1{
    position: absolute;
    padding: 140px;
    top: 67px;
    left: 45px;
  }

  &__item-2{
    position: absolute;
    padding: 140px;
    top: 67px;
    left: 390px;
  }

  &__item-3{
    position: absolute;
    padding: 140px;
    top: 457px;
    left: 45px;
  }

  &__item-4{
    position: absolute;
    padding: 140px;
    top: 457px;
    left: 390px;
  }

  &__btn{
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 5;
  }

}
