.products{

  &__image{
    position: relative;
  }

  &__item-1{
    position: absolute;
    padding: 140px;
    background-color: red;
    top: 67px;
    left: 75px;
  }

  &__item-2{
    position: absolute;
    padding: 140px;
    background-color: blue;
    top: 67px;
    left: 410px;
  }

  &__btn{
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 5;
    padding: 20px 40px;
    background-color: brown;
    border-radius: 5px;
    color: #fff;
  }

}
